.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  background-color: #edebeb;
}

.navitems {
  display: flex;
  border: 1px solid black;
  border-radius: 25px;
  padding: 5px;
  >span {
    padding: 2px 5px;
  }
}

.navbtn > button{
  border-radius: 25px;
  padding: 7px 10px;
  border: none;
  background-color: rgb(108, 25, 25);
  color: #fff;
}

.menu-page{
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px;
}

.menubar{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  text-transform:uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 20px;
  >span{
    border-radius: 25px;
    padding: 5px 10px;
  }
  > .selected-menu{
    background-color: rgb(108, 25, 25);
    color: #fff;
  }
}
.menuitems{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.menuitem{
  position: relative;
  background-color: #fff;
  /* box-shadow: 0px 0px 5px rgb(255, 255, 255); */
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 35px;
  > .itemimg {
    width: 200px;
    height: 200px;
    background-color: #ccc;
  }
  >h3{
    margin: 5px;
  }
  >p{
    margin: 5px;
  }
  >button{
    border: none;
    background-color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  >span{
    right: 0;
    bottom: 0;
    transform: translate(30%, 30%);
    position: absolute;
    background-color: rgb(108, 25, 25);
    padding: 20px;
    border-radius: 50%;
    color: #fff;
  }
}